**Import Numpy and Pandas**

In [1]:
import numpy as np
import pandas as pd

**Conversion to Series**: from dicts , Lists

In [2]:
my_list = [1,2,3,4,5]
arr = np.array(my_list)
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}

In [3]:
pd.Series(dict1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
pd.Series(my_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
'a b c d e'.split()

['a', 'b', 'c', 'd', 'e']

In [7]:
pd.Series(arr,'a b c d e'.split())

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [8]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])      
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [9]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])      
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

**Series concatenation and drop missing value**

In [10]:
ser3 = ser1 + ser2
ser3

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [11]:
ser3.dropna()

Germany    4.0
Japan      8.0
USA        2.0
dtype: float64